@import "../../../styles/index.scss";

.selected-filters {
    &__button {
        border-radius: rem(5px);
        font-size: rem(16px);
        padding: rem(5px);
        margin-right: rem(10px);
        background-color: $color-button-bg;
        color: $color-white;
        border: 1px solid $characters-list;
        &:hover,
        &:focus {
            background-color: $color-white;
            color: $characters-list;
        }
        &:after {
            content: "\0058";
            margin-left: rem(10px);
        }
    }
}
