@import "../../../styles/index.scss";

.characters-list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  color: $color-white;
  gap: rem(5px);
  &__character {
    background-color: $characters-list;
    padding: rem(5px);
  }
}

@include sm-device-type {
  .characters-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
  }
}
