@import '../../../styles/index.scss';

.card {
    &__character-img {
        width: 100%;
        height: auto;
        border-radius: rem(5px) rem(5px) 0 0;
    }
    &__character-title {
        margin-bottom: rem(10px);
    }
}