@import "./base/variables";
@import "./base/mixins";
@import "./base/functions";

/*RESETS*/
body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", "Arial", sans-serif;
  font-size: $browser-context;
  text-rendering: optimizeLegibility;
}

h3 {
  margin: 0;
  padding: 0;
}

ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
