$list-background-color: #333333;
$characters-list: #1f232a;
$color-white: #fff;
$color-definition: #b7751b;
$color-button-bg: #808080;

$small-device-threshold: 480px;
$medium-device-threshold: 768px;

$browser-context: 16px;
